<ion-content>
  <app-header [title]="'Tiersuche'"></app-header>


 <ion-list style="width:30em; align-items:center;"*ngIf="!loading">
    <ion-item>
      <ion-label>Tierart</ion-label>
      <ion-select [(ngModel)]="search.type" (ionChange)="loadBreeds()">
        <ion-select-option *ngFor="let species of allSpecies" [value]="species">{{species}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Rasse</ion-label>
      <ion-select [(ngModel)]="search.breed"> <!-- TODO load options from file -->
        <ion-select-option *ngFor="let breed of allBreeds" [value]="breed">{{breed}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Alter</ion-label>
      <ion-input type="number" [(ngModel)]="search.age"></ion-input> <!-- TODO min and max -->
    </ion-item>
 </ion-list>

    <ion-button type="submit" (click)="do_search()">Suchen</ion-button>

</ion-content>
