.logo {

  margin: 10px;
  height: 64px;
  width: 74px;
  cursor: pointer;

  img {
    border-radius: 10px;
    margin-right: 10px;
  }
}

h1 {
  margin-top: 10px;
  margin-bottom: 0;
  .small {
    font-size: 0.7em;
    opacity: 0.7;
  }
}

h4 {
  font-size: 0.8em;
  margin-top: 5px;

  .small {
    padding-left: 15px;
    opacity: 0.6;
  }
}

.toolbar-buttons {
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;

    --color: var(--ion-color-dark);
    color: var(--ion-color-dark);
    transition: color 0.3s;

    &:hover {
      --color: var(--ion-color-primary);
      color: var(--ion-color-primary);
    }

    ion-icon {
      font-size: 32px;
      margin-bottom: 5px;
    }
  }
}
