<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start">
            <div class="ion-justify-content-start" style="display: flex">
                <div class="logo">
                    <img src="assets/icon/appicon.png" alt="appicon" height="64" width="64">
                </div>
                <div>
                    <h1>Wolke Sieben - <span class="small">Wo tiere ein Zuhause finden</span></h1>
                    <h4 *ngIf="user">Hey, {{user.name}}! <span class="small">Du befindest dich hier: {{title}}</span></h4>
                </div>
            </div>
        </ion-title>
        <ion-buttons slot="end" class="toolbar-buttons">
            <a routerLink="/home" *ngIf="user">
                <ion-icon name="home"></ion-icon>
                <ion-text class="toolbar-button">Startseite</ion-text>
            </a>
            <a routerLink="/search-request" *ngIf="user">
                <ion-icon name="search"></ion-icon>
                <ion-text>Tiersuche</ion-text>
            </a>
            <a routerLink="/" *ngIf="user"> <!-- TODO -->
                <ion-icon name="star"></ion-icon>
                <ion-text>Merkliste</ion-text>
            </a>
            <a routerLink="/profile" *ngIf="user">
                <ion-icon name="person"></ion-icon>
                <ion-text>Mein Profil</ion-text>
            </a>
            <a routerLink="/chat" *ngIf="user">
                <ion-icon name="chatbubbles"></ion-icon>
                <ion-text>Nachrichten</ion-text>
            </a>
            <app-auth-button></app-auth-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>
