<div class="wrapper" (click)="goToOffer()">

  <div class="image-wrapper" [ngStyle]="{'background-image': 'url(' + offer.previewImageUrl + ')'}">
    <!--img [src]="offer.previewImageUrl" alt=""-->

    <div class="like-area" (click)="toggleLike(); $event.stopPropagation()">
      <ion-icon color="danger" name="heart" *ngIf="offer.like && offer.like.user == 'Liked'"></ion-icon>
      <ion-icon color="white" name="heart" *ngIf="offer.like && offer.like.user == 'Neutral'"></ion-icon>
      <ion-icon color="danger" name="heart-outline" *ngIf="offer.like && offer.like.user == 'Neutral'"></ion-icon>
    </div>
  </div>

  <div>

    <div class="">
      <div class="ion-align-items-center text-wrapper">
        <ion-text class="name-age">
          {{offer.name}}, {{offer.age}}
        </ion-text>
        <ion-icon class="sex-icon" [name]="offer.sex == 'M' ? 'male' : 'female'"></ion-icon>
      </div>

      <div>
        <ion-text class="place" color="secondary">
          {{offer.place}}
        </ion-text>
      </div>
    </div>

  </div>


</div>
