.wrapper {
  padding: 30px;
}

.text-wrapper {
  margin-top: 10px;
  font-size: 22px;
}

.sex-icon {
  margin-left: 20px;
}

.ion-align-items-center {
  display: flex;
}

img {
  border-radius: 6px;
}
