<ion-content>
    <app-header [title]="'Details zum Angebot'"></app-header>

    <!-- <app-offertitle></app-offertitle> TODO -->
    <ion-title class="ion-text-center" style="font-size:3em">{{ offer.name }}</ion-title>
    <ion-title class="ion-text-center" style="font-size:2em">
        {{ offer.age }} Jahre, {{offer.sex | sex}}, aus {{ offer.place }}
    </ion-title>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-offer-chat *ngIf="chatActive" [owner]="offer.published_by"></app-offer-chat>
                <app-offer-detail-info [offer]="offer" *ngIf="!chatActive"></app-offer-detail-info>
                <br>
                <ion-button *ngIf="!chatActive" (click)="openChat()">Anbieter kontaktieren</ion-button>
                <ion-button *ngIf="chatActive" (click)="closeChat()">Chat Beenden</ion-button>
            </ion-col>
            <ion-col>
                <ion-title style="font-size:2em" class="ion-text-center">Bilder</ion-title>
                <app-offer-images-collection [images]="offer.media"></app-offer-images-collection>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
