<app-header [title]="'Details zum Angebot'"></app-header>

<ion-content *ngIf="offer">
    <div class="offer-header-wrapper">
        <div class="offer-header">
            <div *ngIf="offer.media && offer.media.length > 0" class="offer-header-image" style=" background-image: url({{offer.media[0]}})"></div>
            <div class="offer-header-content">
                <ion-text class="offer-header-name">{{ offer.name }}</ion-text>
                <ion-text><b>Alter:</b> {{ offer.age }} Jahre</ion-text>
                <ion-text><b>Geschlecht:</b> {{ offer.sex | sex }}</ion-text>
                <ion-text><b>Ort:</b> {{ offer.location }}</ion-text>
                <ion-text *ngIf="owner"><b>Anbieter:</b> {{owner.name}}</ion-text>
            </div>
        </div>
    </div>

    <div class="offer-content-wrapper">
        <div class="offer-content">
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Beschreibung</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <app-offer-detail-info [offer]="offer" *ngIf="!chatActive"></app-offer-detail-info>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Bilder und Videos</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <app-offer-images-collection [images]="offer.media"></app-offer-images-collection>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                    <ion-col size="4">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>Anbieter kontaktieren</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <app-offer-chat [owner]="owner"></app-offer-chat>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
