<ion-content>
  <app-header [title]="'Mein Profil'"></app-header>

  <ion-title class="ion-text-center" style="font-size:3em" ></ion-title>

  <ion-grid>
        <ion-row>
            <ion-col>
                <ion-title class="ion-text-center">Informationen</ion-title>
                <ion-input placeholder="Beschreibung" [(ngModel)]="description"></ion-input>
                <ion-button (click)="changeDescription()">Informationen bearbeiten</ion-button>
            </ion-col>
            <ion-col>
                <ion-title class="ion-text-center">Profilbild</ion-title>
                <br>
                <input type="file" (change)='uploadImage($event)'>
                <ion-button (click)='saveImage()'>Profilbild ändern</ion-button>
                <ion-img src="{{ savedImgUrl }}"></ion-img>
                <ion-button (click)='subscribe("golden_retriever")'>Subscribe for golden_retriever</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
