<app-header title="Nachrichten"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-list>
          <ion-list-header>Chats</ion-list-header>
          <ion-item *ngFor="let chat of chats" (click)="getMessages(chat)">
            <ion-avatar>
              <ion-icon name="person"></ion-icon>
            </ion-avatar>
            <ion-label>{{chat.participants}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="8" *ngIf="activeChat && activeChat.uuid">
        <ion-list>
          <ion-list-header>Nachrichten mit {{activeChat.uuid}}</ion-list-header>
          <ion-item *ngFor="let message of messages | sortMessages">
            <ion-text>{{message.body}} - ({{message.date | germanDate}})</ion-text>
          </ion-item>
        </ion-list>
        <div *ngIf="activeChat && activeChat.uuid">
          <ion-input [(ngModel)]="newMessage" (keydown.enter)="send()"></ion-input>
          <ion-button (click)="send()">Senden</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
